
@import "compass/reset";
@import "compass";

$bgColor: #f7fbff;

$fontColor: #616c78;
$fontColorLight: #939fab;
$fontColorDark: #313b45;
$fontColorLink: #297acc;

$borderColor: #a3b1bf;
$borderColorActive: #0080ff;

$fontFamily: "Helvetica Neue", Helvetica, Arial, sans-serif;
$fontFamilyCustom: "Cabin Condensed", "Helvetica Neue", Helvetica, Arial, sans-serif;

@mixin png-image-set($image){
	@include image-set($image, "png");
}

@mixin jpg-image-set($image){
	@include image-set($image, "jpg");
}

@mixin gif-image-set($image){
	@include image-set($image, "gif");
}

@mixin image-set($name,$extension){
	background-image: image_url("#{$name}.#{$extension}");
	background-image: -webkit-image-set(image_url("#{$name}.#{$extension}") 1x, image_url("#{$name}@2x.#{$extension}") 2x);
}

@mixin stateGradient($color) {
	@include background-image(linear-gradient(lighten($color,10%), $color 60%, darken($color,10%)));
	@include box-shadow(lighten($color,25%) 0 1px 0 inset, rgba(black,0.1) 0 1px 1px);
	background-color: $color;
	border: 1px solid darken($color,10%);
	
	&:hover {
		@include background-image(linear-gradient(lighten($color,10%), lighten($color,5%) 50%, $color 50%, darken($color,10%)));
		@include box-shadow(lighten($color,25%) 0 1px 0 inset, rgba(black,0.1) 0 1px 1px);
		background-color: darken($color,10%);
		border-color: darken($color,15%);
	}
	
	&:active {
		@include background-image(linear-gradient(darken($color,10%), darken($color,5%)));
		@include box-shadow(rgba(white,0.5) 0 1px 0, rgba(black,0.1) 0 1px 1px inset);
		background-color: darken($color,5%);
		border-color: darken($color,30%);
	}
	
}

/* END OF SASS & COMPASS SETUP */

/* interface */

.if {
	@include background-image(linear-gradient($bgColor, #ffffff 50%, #ffffff));
	background: $bgColor;
	bottom: 0;
	color: $fontColor;
	font-family: $fontFamily;
	left: 0;
	line-height: 1.4em;
	position: absolute;
	right: 0;
	top: 0;
	z-index: 50;
	
	$sidebarWidth: 200px;
	
	a {
		color: $fontColorLink;
		
		&:hover {
			color: darken($fontColorLink, 10%);
		}
		
	}
	
	.room {
		@include border-radius(5px);
		@include box-shadow(rgba(black,0.3) 2px 0 3px);
		background: white;
		bottom: 0;
		left: 0;
		position: absolute;
		right: $sidebarWidth;
		top: 0;
	
		.header {
			@include background-image(linear-gradient(#ffffff, #ffffff 50%, #f7fbff));
			@include border-top-left-radius(5px);
			@include border-top-right-radius(5px);
			@include box-shadow(#fff 0 1px 0 inset, rgba(black,0.05) 0 2px 3px);
			border-bottom: 1px solid $borderColor;
			padding: 10px 16px;
			position: relative;
			z-index: 75;
			
			.logo {
				$logoHeight: 28px;
				@include image-set('logo','png');
				background-position: 0 1px;
				background-repeat: no-repeat;
				color: $fontColorDark;
				cursor: pointer;
				display: block;
				font-family: $fontFamilyCustom;
				font-size: 20px;
				height: 28px;
				letter-spacing: -0.1em;
				line-height: 32px;
				padding-left: 36px;
				text-shadow: 0 1px 0 #fff;
			}
			
		}
		
		.msgs {
			bottom: 0;
			left: 0;
			list-style: none;
			margin: 0;
			overflow: auto;
			overflow-x: hidden;
			padding: 0;
			position: absolute;
			right: 0;
			top: 0;
			z-index: 25;
			
			&:before {
				display: block;
				content: "";
				height: 49px;
			}
			
			&:after {
				display: block;
				content: "";
				height: 49px;
			}
			
			.msg {
				border-bottom: 1px solid lighten($borderColor,25%);
				padding: 10px 16px;
				position: relative;
				
				.avatar {
					@include border-radius(16px);
					height: 24px;
					position: absolute;
					width: 24px;
					z-index: 50;
				}
				
				.body {
					padding: 0 64px 0 32px;
					position: relative;
					z-index: 25;
					
					p {
						font-size: 13px;
						line-height: 1.3em;
						margin: 0;
						padding: 3px 0;
						
						.name {
							font-weight: bold;	
						}
						
					}
					
				}
				
				.timestamp {
					color: $fontColorLight;
					font-size: 12px;
					height: 24px;
					line-height: 24px;
					margin: 0;
					position: absolute;
					right: 16px;
					top: 10px;
				}
				
				&.event {
					background: lighten($borderColor,28%);
					padding: 6px 16px;
					
					.body {
					
						p {
							font-size: 11px;
							padding: 0;
						}
						
					}
					
					.timestamp {
						font-size: 11px;
						height: 15px;
						line-height: 15px;
						top: 6px;
					}
					
				}
				
			}
			
		}
		
		.publish {
			@include background-image(linear-gradient(rgba(255,255,255,0), #ffffff 60%, #ffffff));
			@include border-bottom-left-radius(5px);
			@include border-bottom-right-radius(5px);
			bottom: 0;
			height: 28px;
			left: 0;
			padding: 10px 16px;
			position: absolute;
			right: 0;
			z-index: 50;
			
			input#new-message {
				@include border-radius(4px);
				@include box-shadow(rgba(black,0.05) 0 1px 1px inset);
				background: #ffffff;
				border: 1px solid $borderColor;
				font-family: $fontFamily;
				font-size: 13px;
				height: 16px;
				left: 16px;
				line-height: 16px;
				padding: 5px 10px;
				position: absolute;
				right: 70px;
				top: 10px;
				
				&:active, &:focus {
					@include box-shadow(rgba(black,0.05) 0 1px 1px inset, rgba($borderColorActive,0.5) 0 0 8px);
					border-color: $borderColorActive;
					outline: none;	
				}
				
			}
			
			button#post-message {
				@include border-radius(4px);
				@include stateGradient($fontColorLink);
				color: #ffffff;
				cursor: pointer;
				font-family: $fontFamily;
				font-size: 13px;
				height: 28px;
				line-height: 28px;
				padding: 0 10px;
				position: absolute;
				right: 16px;
				text-shadow: 0 -1px 0 rgba(darken($fontColorLink,20%),0.5);
				top: 10px;
			}
			
		}
		
	}
	
	.sidebar {
		bottom: 0;
		position: absolute;
		right: 0;
		top: 0;
		width: $sidebarWidth;
		
		$borderColor: #263340;
		
		.top {
			@include background-image(linear-gradient($bgColor, $bgColor 40%, rgba($bgColor,0)));
			height: 36px;
			position: relative;
			z-index: 50;

			.label {
				color: #fff;
				font-size: 12px;
				height: 36px;
				line-height: 36px;
				margin: 0;
				padding: 0 16px;
				text-shadow: 0 1px 0 rgba(black,0.5);
			}
			
			.border {
				@include background-image(linear-gradient(left, $borderColor, rgba($borderColor,0)));
				bottom: 0;
				display: none;
				height: 1px;
				left: 0;
				position: absolute;
				width: $sidebarWidth;
				
				&:after {
					@include background-image(linear-gradient(left, rgba(#ffffff,0.15), rgba($borderColor,0)));
					bottom: -1px;
					content: "";
					display: block;
					height: 1px;
					left: 0;
					position: absolute;
					width: $sidebarWidth;
				}
				
			}
			
		}
		
		.users-online {
			bottom: 0;
			left: 0;
			list-style: none;
			margin: 0;
			overflow: auto;
			overflow-x: hidden;
			padding: 0;
			position: absolute;
			right: 0;
			top: 0;
			width: $sidebarWidth;
			z-index: 25;
			
			&:before {
				display: block;
				content: "";
				height: 36px;
			}
			
			&:after {
				display: block;
				content: "";
				height: 82px;
			}
			
			.user {
				height: 26px;
				padding: 0 16px;
				position: relative;
				width: $sidebarWidth;
				
				.avatar {
					@include border-radius(8px);
					height: 16px;
					left: 16px;
					position: absolute;	
					top: 5px;
					width: 16px;
				}
				
				.name {
					color: #fff;
					font-size: 12px;
					height: 26px;
					line-height: 26px;
					margin: 0;
					padding: 0 0 0 22px;
					text-shadow: 0 1px 0 rgba(black,0.5);
				}
				
			}
			
		}
		
		.client {
			@include background-image(linear-gradient(rgba($bgColor,0), $bgColor 60%, $bgColor));
			bottom: 0;
			left: 0;
			position: absolute;
			right: 0;
			width: $sidebarWidth;
			z-index: 75;

			.label {
				color: #fff;
				font-size: 11px;
				margin: 0;
				padding: 0 16px;
				text-shadow: 0 1px 0 rgba(black,0.5);
			}
			
			.details {
				@include background-image(linear-gradient(darken($bgColor,4%), darken($bgColor,1%)));
				@include border-radius(4px);
				@include box-shadow(rgba(black,0.2) 0 1px 1px inset, rgba(white,0.3) 0 1px 0);
				border: 1px solid $borderColor;
				cursor: pointer;
				display: block;
				list-style: none;
				margin: 3px 16px 10px;
				padding: 5px 10px;
				text-decoration: none;
				
				.detail {
					color: #ffffff;
					font-size: 10px;
					line-height: 1;
					margin: 5px 0;
					text-shadow: 0 1px 0 rgba(black,0.3);
					
					.field {
						color: lighten($bgColor,50%);
						display: inline-block;
						text-align: right;
						width: 50px;	
					}
					
				}
			}
			
		}
		
	}
	
}